h2{
    /* background-color: yellow;
    color: red;
    padding: 10px;
    margin: 20px; */
}
.xanh{
    color: cyan;
}
.do{
    color: red;
}
#tieu-de{
    
    background: yellow;
    text-align: center;
}
.border3{
    border: 3px solid blue;
}
